<!doctype html>
<html>
    <head>
        <title>게시판 연습</title>
    </head>
    <body>
        {#<h1>게시글</h1>#}
        <hr>
        <h1> 제목 : {{ post.post_title }} </h1>
        <hr>
        <h2> 글 내용 </h2>
        {{ post.post_content }}
        <hr>
        {% comment %} <a href={% url 'board:update' %}><input type="button" value="게시물 수정"></a> {% endcomment %}
        <a href={% url 'crud:update' post.id %}><input type="button" value="수정하기"></a>
        <form method="post">{% csrf_token %}<input type="submit" value="삭제하기"></form>
        <a href={% url 'crud:index' %}><input type="button" value="돌아가기"></a>
    </body>
</html> 