<!-- crud>detail.html -->
<!doctype html>
<html>
    <head>
        {% extends "base.html" %}
        <title>게시판 연습</title>
    </head>
    <body>
        {% block content %}
        <h3> 제목 : {{ post.post_title }} </h3>
        <br>
        {{ post.post_content }}
        <hr>
        {% comment %} <a href={% url 'board:update' %}><input type="button" value="게시물 수정"></a> {% endcomment %}
        <div class="float-right">
            <button class="btn btn-outline-primary" type="button" onclick="location.href='{% url "crud:update" post.id %}';">수정</button>
            <form style="display:inline;" method="post">{% csrf_token %}<button class="btn btn-outline-primary" type="submit"/>삭제</button></form>
            <button class="btn btn-outline-primary" type="button" onclick="location.href='{% url "crud:index"%}';">목록</button>
        </div>
        {% endblock content %}
    </body>
</html> 