<!doctype html>
<html>
    <head>
        <title>게시판 연습</title>
    </head>
    <body>
        <h1>게시판</h1>
        <hr>
        번호 제목 작성일
        <hr>
        {#% if post_list %#}
            {% for p in post_list %}
                {{ forloop.counter }} 
                {% comment %} for 태그가 반복한 횟수 {% endcomment %}
                <a href="{% url 'crud:detail' p.id %}"> {{ p.post_title }} </a>
                {% comment %} 주소 하드코딩 방식 : <a href="/crud/{{ p.id }}/"> {{ p.post_title }} </a><br> {% endcomment %}
                {{ p.created_at }}<br>
            {% endfor %}
        {#% endif %#}
        <hr>
        <a href="/crud/write/"><input type="button" value="글 작성"></a>
    </body>
</html> 