<!-- crud>index.html -->
<!doctype html>
<html>
    <head>
        {% extends "base.html" %}
        <title>게시판 연습</title>
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'crud/style.css' %}"> {% endcomment %}
    </head>
    <body>
        {% block content %}

        <h1>게시판</h1>
        <table>
        <hr>
        <th width="100">번호</th>
        <th width="200" align="left">제목</th>
        <th width="200">작성일</th>
        {#% if post_list %#}
            {% for p in post_list %}
            <tr>
                <td align="center">{{ forloop.counter }}</td>
                {% comment %} for 태그가 반복한 횟수 {% endcomment %}
                <td><a href="{% url 'crud:detail' p.id %}"> {{ p.post_title }} </a></td>
                {% comment %} 주소 하드코딩 방식 : <a href="/crud/{{ p.id }}/"> {{ p.post_title }} </a><br> {% endcomment %}
                <td>{{ p.created_at }}</td>
            </tr>
            {% endfor %}
        {#% endif %#}
        </table>
        <hr>
        <a href={% url 'crud:write' %}><input type="button" value="글 작성"></a>

        {% endblock content %}
    </body>
</html> 
