<!-- crud>update.html -->
<!doctype html>
<html>
    <head>
        {% extends "base.html" %}
        <title>게시판 연습</title>
    </head>
    <body>
        {% block content %}

        <h1>게시물 수정</h1>
        <form method="post">
        {% csrf_token %}
            <h3>제목 : {{post.post_title}} </h3>
            <h3>글 내용</h3>
            <textarea name="content" cols="40" rows="8"> {{ post.post_content }} </textarea>
            <br>
            <input type="submit" value="작성">
            <a href={% url 'crud:detail' post.id %}><input type="button" value="돌아가기"></a>
        </form>
        
        {% endblock content %}
    </body>
</html>