<!-- crud>update.html -->
<!doctype html>
<html>
    <head>
        {% extends "base.html" %}
        <title>게시판 연습</title>
    </head>
    <body>
        {% block content %}

        <form method="post">
        {% csrf_token %}
            <h3>{{post.post_title}} </h3>
            <h5>내용 수정</h5>
            <textarea class="form-control rounded-0" name="content" rows="10"> {{ post.post_content }} </textarea>
            <br>
            <div>
                <input class="btn btn-outline-primary" type="submit" value="작성">
                <button class="btn btn-outline-primary" type="button" onclick="location.href='{% url 'crud:detail' post.id %}';">돌아가기</button>
            </div>
        </form>
        
        {% endblock content %}
    </body>
</html>