<!-- users>login.html -->
<!doctype html>
<html>
    <head>
        {% extends "base.html" %}
    </head>
    <body>
        {% block content %}

        <h3 style="text-align:center">회원가입</h3>
        <hr><br>
        <form method="post">
            {% csrf_token %}
            <div>
                <h5 style="text-align:center">아이디</h5>
                <input style="margin: 0 auto; width: 300px;" type="text" class="form-control" name="username" id="username">
            </div><br>
            <div>
                <h5 style="text-align:center">비밀번호</h5>
                <input style="margin: 0 auto; width: 300px;" type="password" class="form-control" name="password1" id="password1">
            </div><br>
            <div>
                <h5 style="text-align:center">비밀번호 확인</h5>
                <input style="margin: 0 auto; width: 300px;" type="password" class="form-control" name="password2" id="password2">
            </div><br>
            <div>
                <h5 style="text-align:center">이메일</h5>
                <input style="margin: 0 auto; width: 300px;" type="text" class="form-control" name="email" id="email">
            </div><br>
            <div style="display:flex; justify-content:center;">
                <button class="btn btn-outline-primary" type="submit">회원가입</button>
            </div><br>
        </form>
        <hr>

        {% endblock %}
    </body>
</html>